<html>
    <head>
        <title>Day of week</title>
    </head>
    <body>
        <p>
            <em>day: </em><%= date %>
        </p>
        <p>
            <em>day of week: </em><%= day_of_week %> 
        </p>
    </body>
</html>